.login_overlay {
    height: 100%;
    width: 100%;
    background-color: tomato;
    position: fixed;
    z-index: 998;
}

#login {
    display: none;
    z-index: 999;
    position: fixed;
    top: 150px;
    left: 50%;
    width: 400px;
}

#register {
    display: none;
    z-index: 999;
    position: fixed;
    top: 150px;
    left: 50%;
    width: 400px;
}